<!-- <section class="advertisement">
  <h2 class="advertisement-title">Advertisement</h2>
  <div class="advertisement-container">
    <p class="advertisement-text text">Discount up to 40%!</p>
    <p class="advertisement-text-end text">
      Taste the vitamins and keep your health
    </p>
  </div>
</section> -->
<section class="section advertisement-section">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">Advertisement</h2>
    <p class="advertisement-text">
      <span class="advertisement-text-color">Discount up to 40%!</span>
      Taste the vitamins and keep your health
    </p>
  </div>
</section>
