<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="../index.html" class="logo header-logo">
        <svg class="header-logo-svg logo-svg">
          <use href="../img/icons.svg#icon-squares"></use>
        </svg>
        green.harvest
      </a>
      <svg class="header-menu-svg">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
      <ul class="header-menu">
        <li>
          <a class="header-menu-link" href="">How It Works</a>
        </li>
        <li>
          <a class="header-menu-link" href="">Vegetables</a>
        </li>
        <li>
          <a class="header-menu-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="bg-mobile-navigation-container is-open">
  <div class="mobile-navigation-container">
    <button class="btn-close" type="button">
      <svg class="btn-icon-close">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-navigation">
      <ul class="mobile-menu">
        <li>
          <a class="mobile-menu-link mobile-menu-link-active" href="">
            How It Works
          </a>
        </li>
        <li>
          <a class="mobile-menu-link" href="">Vegetables</a>
        </li>
        <li>
          <a class="mobile-menu-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-navigation-btn">Shop now</button>
  </div>
</div>
