<div class="modal-team">
  <div class="modal-box">
    <button type="button" class="modal-team-close">
        <svg class="svg-team-close" width="40" height="40">
            <use>

            </use>
        </svg>
    </button>
    <div class="">
      <div class="mentor">
        <h2>Project HTML+CSS</h2>
        <h3>GREEN HARVEST</h3>
        <div class="mentor-box">
            <h3 class="team-title">Olga Konopleva</h3>
          <p class="team-text">Mentor</p>
        </div>
      </div>
    </div>
    <h2 class="title-hub">IT-HUB</h2>
    <div class="lead-box">
      <ul class="lead-list">
        <li class="lead-item">
          <h3 class="team-title">Denis Pronin</h3>
          <p class="team-text">Team Lead</p>
        </li>
        <li class="lead-item">
          <h3 class="team-title">Volodymyr Kyryliuk</h3>
          <p class="team-text">Scrum Master</p>
        </li>
      </ul>
    </div>
    <div class="team-box">
      <ul class="team-list">
        <li class="team-item">
          <h3 class="team-title">Viktor Husar</h3>
          <p class="team-text">Your order</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Denys Kot</h3>
          <p class="team-text">Vegetables</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Denys Polishchuk</h3>
          <p class="team-text">Header</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Iryna Pavlyk</h3>
          <p class="team-text">Advertisement</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Dorizhko Illia</h3>
          <p class="team-text">Reviews</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Mykola Naumenko</h3>
          <p class="team-text">Footer</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Ihor Tsvyk</h3>
          <p class="team-text">How it works</p>
        </li>
        <li class="team-item">
          <h3 class="team-title">Chambula Anatolii</h3>
          <p class="team-text">Hero</p>
        </li>
      </ul>
    </div>
  </div>
</div>
