<div class="modal-team">
  <div class="modal-box">
    <button type="button" class="modal-team-close">
      <svg class="svg-team-close" width="30" height="30">
        <use href="./img/icons.svg#icon-close" />
      </svg>
    </button>
    <div class="mentor">
      <h2 class="title-project">
        <p class="title-project-text">Project HTML+CSS</p>
      </h2>
      <h3 class="title-harvest">
        <p class="title-harvest-text">GREEN HARVEST</p>
      </h3>
      <div class="mentor-box">
        <img src="./img/img-modal-team/olga.PNG" alt="Olga Konopleva" />
        <h3 class="team-title">Olga Konopleva</h3>
        <p class="team-text">Mentor</p>
      </div>
    </div>

    <div class="it-hub">
      <h2 class="title-hub">
        <p class="hub-text">IT</p>
        <p class="hub-text-hub">HUB</p>
      </h2>
    </div>
    <div class="lead-box">
      <ul class="lead-list">
        <li class="lead-item">
          <img
            class="team-img"
            src="./img/img-modal-team/denis-pronin.PNG"
            alt="Denis Pronin"
          />
          <h3 class="team-title">Denis Pronin</h3>
          <p class="team-text">Team Lead</p>
        </li>
        <li class="lead-item">
          <img
            class="team-img"
            src="./img/img-modal-team/vova.PNG"
            alt="Volodymyr Kyryliuk"
          />
          <h3 class="team-title">Volodymyr Kyryliuk</h3>
          <p class="team-text">Scrum Master</p>
        </li>
      </ul>
    </div>
    <div class="team-box">
      <ul class="team-list">
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/viktor.PNG"
            width="260"
            height="260"
            alt="Viktor Husar"
          />
          <h3 class="team-title">Viktor Husar</h3>
          <p class="team-text">Your order</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/kot.PNG"
            width="260"
            height="260"
            alt="Denys Kot"
          />
          <h3 class="team-title">Denys Kot</h3>
          <p class="team-text">Vegetables</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/polishuk.PNG"
            width="260"
            height="260"
            alt="Denys Polishchuk"
          />
          <h3 class="team-title">Denys Polishchuk</h3>
          <p class="team-text">Header</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/ira.PNG"
            width="260"
            height="260"
            alt="Iryna Pavlyk"
          />
          <h3 class="team-title">Iryna Pavlyk</h3>
          <p class="team-text">Advertisement</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/ilya.PNG"
            width="260"
            height="260"
            alt="Dorizhko Illia"
          />
          <h3 class="team-title">Dorizhko Illia</h3>
          <p class="team-text">Reviews</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/kolya.PNG"
            width="260"
            height="260"
            alt="Mykola Naumenko"
          />
          <h3 class="team-title">Mykola Naumenko</h3>
          <p class="team-text">Footer</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/igor.PNG"
            width="260"
            height="260"
            alt="Ihor Tsvyk"
          />
          <h3 class="team-title">Ihor Tsvyk</h3>
          <p class="team-text">How it works</p>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./img/img-modal-team/anatoliy.PNG"
            width="260"
            height="260"
            alt="Chambula Anatolii"
          />
          <h3 class="team-title">Chambula Anatolii</h3>
          <p class="team-text">Hero</p>
        </li>
      </ul>
    </div>
  </div>
</div>
