<section class="section vegetables">
  <div class="container vegetables-box">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">eggplant</h3>
          <p class="vegetables-card-price">60 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/eggplant_mob.png    1x,
                ./img/vegetables/eggplant_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/eggplant_tab.png    1x,
                ./img/vegetables/eggplant_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/eggplant.png    1x,
                ./img/vegetables/eggplant_2x.png 2x
              " />
            <img src="./img/vegetables/eggplant.png" width="346" alt="eggplant"
          /></picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">leek</h3>
          <p class="vegetables-card-price">50 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/leek_mob.png    1x,
                ./img/vegetables/leek_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/leek_tab.png    1x,
                ./img/vegetables/leek_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/leek.png    1x,
                ./img/vegetables/leek_2x.png 2x
              " />
            <img src="./img/vegetables/leek.png" width="346" alt="leek"
          /></picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">mushrooms</h3>
          <p class="vegetables-card-price">40 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/mushrooms_mob.png    1x,
                ./img/vegetables/mushrooms_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/mushrooms_tab.png    1x,
                ./img/vegetables/mushrooms_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/mushrooms.png    1x,
                ./img/vegetables/mushrooms_2x.png 2x
              " />
            <img
              src="./img/vegetables/mushrooms.png"
              width="346"
              alt="mushrooms"
          /></picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">corn</h3>
          <p class="vegetables-card-price">60 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/corn_mob.png    1x,
                ./img/vegetables/corn_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/corn_tab.png    1x,
                ./img/vegetables/corn_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/corn.png    1x,
                ./img/vegetables/corn_2x.png 2x
              " />
            <img src="./img/vegetables/corn.png" width="346" alt="corn"
          /></picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">sweet potatoes</h3>
          <p class="vegetables-card-price">50 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/sweet_potatoes_mob.png    1x,
                ./img/vegetables/sweet_potatoes_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/sweet_potatoes_tab.png    1x,
                ./img/vegetables/sweet_potatoes_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/sweet_potatoes.png    1x,
                ./img/vegetables/sweet_potatoes_2x.png 2x
              " />
            <img
              src="./img/vegetables/sweet_potatoes.png"
              width="346"
              alt="sweet potatoes"
          /></picture>
        </div>
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-card">
          <h3 class="vegetables-card-title">carrot</h3>
          <p class="vegetables-card-price">40 UAH / kg</p>
          <picture
            ><source
              media="(max-width: 767px)"
              srcset="
                ./img/vegetables/carrot_mob.png    1x,
                ./img/vegetables/carrot_mob_2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/carrot_tab.png    1x,
                ./img/vegetables/carrot_tab_2x.png 2x
              " />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot_2x.png 2x
              " />
            <img src="./img/vegetables/carrot.png" width="346" alt="carrot"
          /></picture>
        </div>
      </li>
    </ul>
  </div>
</section>
